/* smartphones, touchscreens s*/
@media (hover: none) and (pointer: coarse) {
  .hidden {
    display: inline;
  }
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-absolute {
  position: absolute;
}

.object-fit-cover {
  object-fit: cover;
}

.main {
  scroll-snap-type: y mandatory;
}
