.event#Engagement {
  display: grid;
  grid-template-rows: 200px 50px 150px repeat(2, 1fr);
  grid-template-columns: minmax(auto, 400px);
  justify-content: center;
  place-items: center;
  text-align: center;
}

.subs {
  text-shadow: -0.5px 0 #d5d5d5, 0 0.5px #d5d5d5, 0.5px 0 #d5d5d5,
    0 -0.5px #d5d5d5;
}

.hand_picture {
  background-image: url('../../public/assets/images/holding_hands.jpg');
  width: 413px;
  height: 273px;
  background-size: 413px 273px;
  box-shadow: inset 0px 0px 78px 18px rgb(255 255 255 / 60%);
}
/* 
.hand_picture::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
} */

.engagement_title {
  /* margin-top: -13em; */
  /* grid-area: 2 / 1 / 3 / 2; */
}

.engagment_rings_clank {
  /* grid-area: 2 / 1 / 3 / 2; */
  aspect-ratio: 1;
  height: 131%;
}

.engagement_location {
}

.engagement_location > div:first-child {
  display: flex;
  justify-content: center;
}

.engagement_location > div:first-child::before {
  content: '';
  height: 2em;
  width: 1em;
  background-size: 100%;
  background-image: url('../../public/assets/svg/bouncey_location.svg');
  background-repeat: no-repeat;
}

.engagement_time > div:first-child {
  display: flex;
  justify-content: center;
}

.engagement_time > div:first-child::before {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-size: 100%;
  background-image: url('../../public/assets/svg/clock.svg');
  background-repeat: no-repeat;
}
